/* prm css cord is */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.prm-color{
    color: #ff4625;
}

.prm-btn{
    color: #fff;
    padding: 10px 20px;
    background-color: rgb(255, 80, 49);
    font-size: 20px;
    margin-top: 20px;
    border: none;
    font-weight: 900;
}

.prm-btn:hover{
    background-color: rgb(255, 0, 0);
}

/* header section css cord is */

#header-container{
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid red;
    padding: 0 20px 0 30px;
}
.title-hadding{
    font-size: 50px;
    margin-bottom: 15px;
}
.title-des{
    font-size: 15px;
    line-height: 20px;
}

.header-img{
    width: 525px;
    
}
.our-featued-container{
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    margin-top: 30px;
}
.our-featued-title{
    text-align: center;
    margin: 20px;
}
.our-featued-hadding{
    margin-bottom: 14px;
    font-size: 30px;
}

.our-featued-logo{
    display: flex;
    justify-content: space-around;
    height: 400px;
    /* background: #8c8584; */
    width: 1000px;
    margin: 20px auto;
    padding: 30px 10px;
    text-align: center;
    text-decoration: underline;
}

.Pink-Flower-Tree{
    width: 300px;
    height: 100%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url("images/pngwing\ 5.png");
    margin:  20px;
    /* padding: 20; */
    
}
.Pink-Flower-Tree1{
    width: 300px;
    height: 100%;
    border-radius: 300px 300px 0px 0px;
    background:rgba(167, 33, 98, 0.15);
    background-image: url("images/pngwing\ 6.png");
    margin:  20px;
    /* padding: 20; */
    
}
.Pink-Flower-Tree2{
    width: 300px;
    height: 100%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url("images/pngwing\ 7.png");
    margin:  20px;
    /* padding: 20; */
    
}

/* .Pink-flower-img{
    margin: 0 auto;
    width: 250px;
    height: 350px;
    background-image: url("images/pngwing\ 6.png");
    background-position: center bottom;
}
      */

